# folders
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
profiles/
docs/
.gitlab/
.github/
.vscode/

# files
coverage.json
package-lock.json
package.json
tsconfig.json
README.md
CONTRIBUTING.md